@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";
@import "../../styles/colors.scss";

$cnt-todo-list-width: 90%;
$cnt-todo-list-height: 100%;
$todo-title-margin: 10px;
$todo-title-size: 25px;
$todo-item-blurred-shadow: 0 0 8px $hero-description-color;

.cnt-todo-list {
  width: $cnt-todo-list-width;
  min-height: $cnt-todo-list-height;
  display: flex;
  flex-direction: column;
  @include glassy;

  .todo-title {
    @include hero-title($todo-title-size);
    margin: $todo-title-margin;
    align-self: center;
  }

  ul {
    width: inherit;
    overflow: hidden;
    flex-direction: inherit;
  }

  li {
    margin-top: $todo-item-margin;
    color: $hero-description-color;
    letter-spacing: $todo-letter-spacing;
  }

  li.cnt-list-item{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

}
