@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";
@import "../../styles/colors.scss";

$cnt-todo-list-width: 100%;
$cnt-todo-list-height: 100%;
$todo-title-margin: 10px;
$todo-title-size: 25px;
$todo-item-blurred-shadow: 0 0 8px $hero-description-color;

.cnt-todo-list {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  @include glassy;

  .todo-title {
    @include hero-title($todo-title-size);
    margin: $todo-title-margin;
    align-self: center;
  }

  .todo-description{
    margin: auto;
    padding: 0 1em 2em 1em;
    font-size: 21px;
    letter-spacing: 1px;
    color: $td-done;
    text-align: center;
  }

  ul {
    overflow: auto;
    padding: 0 40px;
    max-height: 45em;
  }

  li {
    margin-top: $todo-item-margin;
    color: $hero-description-color;
    letter-spacing: $todo-letter-spacing;
  }

  li.cnt-list-item {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  /* Scrollbar Styling */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background-color: $scroll-background;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    @include glassy;
  }
}
