@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";
@import "../../styles/colors.scss";

$cnt-todo-list-width: 90%;
$cnt-todo-list-height: 100%;
$todo-title-margin: 10px;
$todo-title-size: 25px;
$todo-item-blurred-shadow: 0 0 8px $hero-description-color;

.todo-list-item {
  button.pin {
    background-color: $hero-gradient-1;
    border-radius: $todo-pin-button-border-radius;
    border: $todo-pin-button-border;
    color: $white;
    font-weight: $bold;
    padding: $todo-pin-button-padding;
  }

  &.done {
    text-decoration: line-through;
    color: $td-done;

    button.pin {
      text-decoration: inherit;
      background-color: $hero-gradient-2;
    }

    span {
      border-color: $hero-gradient-2;
    }

    input:checked ~ span {
      color: $hero-gradient-2;
    }
  }

  &.pinned {
    button.pin {
      background-color: $hero-gradient-5;
    }

    span {
      border-color: $hero-gradient-5;
    }

    input:checked ~ span {
      color: $hero-gradient-5;
    }
  }

  .cnt-todo-checkbox {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
      position: absolute;
      opacity: $no-opacity;
      cursor: pointer;
      height: $no-height;
      width: $no-width;
    }

    .cnt-todo-checkmark:after {
      left: 4px;
      top: 0px;
      width: 5px;
      height: 10px;
      border: solid;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      content: "";
      position: absolute;
      display: none;
    }
  }
}
