@import "../../styles/mixins.scss";
@import "../../styles/colors.scss";
@import "../../styles/variables.scss";

.cnt-hero-banner {
  background-image: $hero-gradient;
  padding: $hero-banner-padding;

  .hero-banner {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    width:70%;
  }

  .hero-banner-info {
    padding: 2em;
    form {
      @include hero-input-form;
    }
  }

  .glassy {
    @include glassy(4.5px);
  }

  .clarification {
    @include clarification-label;
  }

  h1.title {
    @include hero-title;
    margin: $no-margin;
  }

  p.description {
    @include hero-title(23px);
  }

  @media screen and (max-width: 500px) {
    .hero-banner {
      width: 100%;
      grid-template-columns: 1fr;
    }
  }
}
