@import "../../styles/mixins.scss";
@import "../../styles/colors.scss";
@import "../../styles/variables.scss";

.cnt-hero-banner {
  background-image: $hero-gradient;

  height: $hero-banner-height;
  padding: $hero-banner-padding;
  @include center-flex;

  .hero-banner{
    width: $mid-width;
  }
  
  .glassy {
    @include glassy(4.5px);
  }

  .clarification {
    @include clarification-label;
  }

  h1.title {
    @include hero-title;
    margin: $no-margin;
  }

  p.description {
    @include hero-description;
  }

  ul {
    width: $full-width;
    padding: $hero-banner-container-padding;
    display: inherit;

    li {
      width: inherit;
      @include center-flex;
      flex-direction: column;

    }

    li.todo-list {
      align-items: center;
    }

    li:first-child {
      @include hero-input-form;
    }
  }
}
