@import "../../styles/colors.scss";

.cnt-enjoy-full-app-button {
    display: inherit;
    align-items: center;
    justify-content: center;

  button {
    padding: 1em 4em;
    border: none;
    outline: none;
    position: relative;
    border-radius: 10px;
    background: linear-gradient(to right, $enjoy-full-app-1, $enjoy-full-app-2);
    cursor: pointer;
    z-index: 1;
  }

  button::before {
    content: "";
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    background-color: white;
    border-radius: 9px;
    z-index: -1;
    transition: background-position 0.5s ease-in-out;
  }

  button::after {
    content: attr(data);
    font-size: 16px;
    background: linear-gradient(to left, $enjoy-full-app-1, $enjoy-full-app-2);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: 200ms
  }

  button:hover::before {
    opacity: 50%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }
  button:hover::after{
    color: white;
  }
}
