@import "./colors.scss";
@import "./variables.scss";

@mixin alignment {
  display: flex;
  justify-content: center;

  &.align-column {
    flex-direction: column;
  }

  &.align-items-center {
    align-items: center;
  }
}

@mixin glassy($backdrop-filter: 5px) {
  background: $glassy-background-color;
  box-shadow: $glassy-shadow;

  backdrop-filter: blur($backdrop-filter);
  -webkit-backdrop-filter: blur($backdrop-filter);

  &.glassy-rounded-border {
    border-radius: $glassy-border-radius;
    border: $glassy-border;
  }
}

@mixin indicator {
  width: $indicator-size;
  height: $indicator-size;
  border-radius: $indicator-border-radius;
  color: $white;
  background: $indicator-gradient;
  box-shadow: $indicator-box-shadow;

  ul.indicator-info {
    @include alignment;
    letter-spacing: $indicator-letter-spacing;
    font-weight: $bold;
    padding: $no-padding;

    li:first-child {
      margin: $indicator-title-margin;
      font-size: $indicator-title-font;
    }

    li:nth-child(2) {
      font-size: $indicator-value-font;
    }
  }
}

@mixin clarification-label {
  color: $white;
  background-color: $black;
  width: fit-content;
  font-weight: $bold;
  padding: $padding-label-x $padding-label-y;
  font-size: $label-font-size;

  &.clarification-rotated {
    position: absolute;
    top: $label-rotated-top;
    left: $label-rotated-left;
    transform: $label-transform-rotate;
  }
}

@mixin hero-title($size: 30px) {
  color: $hero-title-color;
  font-size: $size;

  &.title-spaced-small {
    letter-spacing: $hero-default-title-letter-spacing;
  }

  &.title-spaced {
    letter-spacing: $hero-title-letter-spacing;
  }

  &.title-shadow {
    text-shadow: $hero-title-shadow-inset $hero-title-offset-x
      $hero-title-offset-y $hero-title-shadow;
  }

  &.hero-description {
    text-align: justify;
    color: $hero-description-color;
  }
}

@mixin hero-input-form {
  display: flex;

  .glassy {
    @include glassy;
  }

  input {
    flex-grow: 1;
    padding: $input-padding;
  }

  ::placeholder {
    letter-spacing: $todo-letter-spacing;
  }

  :focus {
    outline: $none;
  }
}

@mixin todo-list-item {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  button.pin {
    background-color: $hero-gradient-1;
    border-radius: $todo-pin-button-border-radius;
    border: $todo-pin-button-border;
    color: $white;
    font-weight: $bold;
    padding: $todo-pin-button-padding;
  }

  .container {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
      position: absolute;
      opacity: $no-opacity;
      cursor: pointer;
      height: $no-height;
      width: $no-width;
    }

    .checkmark {
      position: absolute;
      top: 3px;
      left: 0px;
      height: 15px;
      width: 15px;
      background-color: transparent;
      border: 3px solid $hero-gradient-1;
      border-radius: 6px;
      padding: 1px;
    }

    .checkmark:after {
      left: 4px;
      top: 0px;
      width: 5px;
      height: 10px;
      border: solid;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      content: "";
      position: absolute;
      display: none;
    }

    input:checked ~ .checkmark {
      color: $hero-gradient-1;
    }

    input:checked ~ .checkmark:after {
      display: block;
    }
  }

  &.done {
    text-decoration: line-through;
    color: $td-done;

    .container {
      .checkmark {
        border-color: $hero-gradient-2;
      }

      input:checked ~ .checkmark {
        color: $hero-gradient-2;
      }
    }

    button.pin {
      text-decoration: inherit;
      background-color: $hero-gradient-2;
    }
  }

  &.pinned {
    .container {
      .checkmark {
        border-color: $hero-gradient-5;
      }

      input:checked ~ .checkmark {
        color: $hero-gradient-5;
      }
    }
    button.pin {
      background: $hero-gradient-5;
    }
  }
}
