@import "./colors.scss";
@import "./variables.scss";

@mixin center-flex {
  display: flex;
  justify-content: center;
}

@mixin glassy($backdrop-filter: 5px) {
  border: $no-border;
  background: $glassy-background-color;
  box-shadow: $glassy-inset $glassy-offset-x $glassy-offset-y
    $glassy-blur-radius $glassy-shadow-color;
  border-radius: $glassy-border-radius;
  border: $glassy-border solid $glassy-border-color;
  backdrop-filter: blur($backdrop-filter);
  -webkit-backdrop-filter: blur($backdrop-filter);
}

@mixin indicator-background($width: 200px, $height: 200px, $radius: 10px) {
  width: $width;
  height: $height;
  border-radius: $radius;
  color: $white;
  background: $indicator-gradient;
  box-shadow: $indicator-shadow-inset $indicator-shadow-offset-x
      $indicator-shadow-offset-y $indicator-shadow-blur-radius
      $indicator-gradient-1,
    $indicator-shadow-2-inset $indicator-shadow-2-offset-x
      $indicator-shadow-2-offset-y $indicator-shadow-2-blur-radius
      $indicator-gradient-2;
}

@mixin indicator {
  @include indicator-background;

  ul.indicator-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    letter-spacing: $indicator-letter-spacing;
    font-weight: $bold;
    padding: $no-padding;

    li:first-child {
      margin: $indicator-title-margin;
      font-size: $indicator-title-font;
    }

    li:nth-child(2) {
      font-size: $indicator-value-font;
    }
  }
}

@mixin clarification-label {
  color: $white;
  background-color: $black;
  width: fit-content;
  font-weight: $bold;
  padding: $padding-label-x $padding-label-y;
  font-size: $label-font-size;

  &.rotated {
    position: absolute;
    top: $label-rotated-top;
    left: $label-rotated-left;
    transform: $label-transform-rotate;
  }
}

@mixin hero-description($size: 23px) {
  font-size: $size;
  text-align: justify;
  color: $hero-description-color;
}

@mixin hero-title($size: 30px, $letter-spacing: $hero-title-letter-spacing,$color:$hero-title-color) {
  color: $color;
  text-shadow: $hero-title-shadow-inset $hero-title-offset-x
    $hero-title-offset-y $hero-title-shadow;
  letter-spacing: $letter-spacing;
  font-size: $size;
}

@mixin hero-input-form {
  form {
    display: flex;

    input {
      flex-grow: 1;
      padding: $input-padding;
      @include glassy;
    }

    ::placeholder {
      letter-spacing: $todo-letter-spacing;
    }

    :focus {
      outline: none;
    }
  }
}
