// GENERAL VARIABLES
$zero:0;
$none:none;
$no-padding:$zero;
$no-margin:$zero;
$no-opacity:$zero;
$no-height:$zero;
$no-width:$zero;
$no-border:$none;
$bold:bold;
$full-width:100%;
$full-percent:100%;
$mid-width:50%;

// GLASSY
$glassy-border-radius: 10px;
$glassy-inset: $zero;
$glassy-offset-x:8px;
$glassy-offset-y:32px;
$glassy-blur-radius: $zero;
$glassy-border-thickness:1px;
$glassy-shadow:  $glassy-inset $glassy-offset-x $glassy-offset-y
$glassy-blur-radius $glassy-shadow-color;
$glassy-border: $glassy-border-thickness solid $glassy-border-color;

// INDICATOR
$indicator-list-gap:5em;
$indicator-width: 50%;
$indicator-margin-x: 4%;
$indicator-letter-spacing:2px;
$indicator-title-margin: 10px;
$indicator-title-font: 20px;
$indicator-value-font: 90px;
$indicator-shadow-inset:12px;
$indicator-shadow-offset-x:12px;
$indicator-shadow-offset-y:16px;
$indicator-shadow-blur-radius: $zero;
$indicator-shadow-2-inset:-8px;
$indicator-shadow-2-offset-x:-8px;
$indicator-shadow-2-offset-y:12px;
$indicator-shadow-2-blur-radius: $zero;
$indicator-box-shadow:$indicator-shadow-inset $indicator-shadow-offset-x
$indicator-shadow-offset-y $indicator-shadow-blur-radius
$indicator-gradient-1,
$indicator-shadow-2-inset $indicator-shadow-2-offset-x
$indicator-shadow-2-offset-y $indicator-shadow-2-blur-radius
$indicator-gradient-2;
$indicator-size: 200px;
$indicator-border-radius:10px;
$indicator-padding:1em;

//HERO BANNER
$hero-banner-height:500px;
$hero-banner-padding: 4em;
$hero-banner-container-width:50%;
$hero-default-title-letter-spacing:1px;

//TD ITEM
$todo-item-margin:20px;
$todo-letter-spacing:1px;
$todo-font-size:18px;
$input-padding:7px;
$todo-pin-button-border: 1px solid $white;
$todo-pin-button-border-radius:6px;
$todo-pin-button-padding:8px;

// CLARIFICATION
$padding-label-x:3px;
$padding-label-y:31px;
$label-font-size:21px;
$label-rotated-top:1px;
$label-rotated-left:-37px;
$label-transform-rotate:rotate(328deg);

$hero-title-shadow-inset:2px; 
$hero-title-offset-x:4px; 
$hero-title-offset-y:4px; 
$hero-title-letter-spacing:4px;