@import "../../styles/mixins.scss";
@import "../../styles/colors.scss";
@import "../../styles/variables.scss";

.cnt-indicators {
  display: flex;
  width: $indicator-width;
  justify-content: space-evenly;
  align-items: center;
  margin: $indicator-margin-x auto;
  padding-left: $no-padding;

  .indicator {
    @include indicator;
  }

  .cyan {
    background-color: $hero-gradient-10;
  }

  .lilac {
    background-color: $hero-gradient-5;
  }

  .pink {
    background-color: $hero-gradient-1;
  }
}
