@import "../../styles/mixins.scss";
@import "../../styles/colors.scss";
@import "../../styles/variables.scss";

.cnt-indicators {
  display: grid;
  grid-template-columns: repeat(auto-fit, 12em);
  grid-gap: $indicator-list-gap;
  align-items: center;
  justify-content: center;
  margin: 5em 0;

  .indicator {
    @include indicator;
  }

  .cyan {
    background-color: $hero-gradient-10;
  }

  .lilac {
    background-color: $hero-gradient-5;
  }

  .pink {
    background-color: $hero-gradient-1;
  }
}
